[submodule "dev/js/hl"]
	path = dev/js/hl
	url = https://github.com/isagalaev/highlight.js.git
[submodule "dev/js/mdi"]
	path = dev/js/mdi
	url = https://github.com/markdown-it/markdown-it.git
[submodule "dev/js/mdi.defl"]
	path = dev/js/mdi.defl
	url = https://github.com/markdown-it/markdown-it-deflist.git
[submodule "dev/js/mdi.emji"]
	path = dev/js/mdi.emji
	url = https://github.com/markdown-it/markdown-it-emoji.git