[submodule "mdi.core"]
	path = dev/js/mdi.core
	url = https://github.com/markdown-it/markdown-it.git
[submodule "mdi.defl"]
	path = dev/js/mdi.defl
	url = https://github.com/markdown-it/markdown-it-deflist.git
[submodule "mdi.emji"]
	path = dev/js/mdi.emji
	url = https://github.com/markdown-it/markdown-it-emoji.git
[submodule "hlln"]
	path = dev/js/hlln
	url = https://github.com/wcoder/highlightjs-line-numbers.js.git
[submodule "hljs"]
	path = dev/js/hljs
	url = https://github.com/isagalaev/highlight.js.git
