.codeLink {
  color: #eee;
  text-decoration: underline;
  text-decoration-line: dashed;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
body {
  font: 14pt Calibri, helvetica, tahoma, arial, freesans, clean, sans-serif;
  color: black;
  line-height: 1.4em;
  background-color: #F8F8F8;
  padding: 0.7em;
  max-width: 55em;
  margin: 2em auto;
}
p {
  margin: 1em 0;
  line-height: 1.3em;
  text-align: justify;
}
table {
  font-size: inherit;
  font: 100%;
  margin: 1em 0;
  border-collapse: collapse;
  border-radius: 3px;
}
thead {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
}
tbody {
  background-color: #F8F8F8;
}
th {
  padding: .2em 1em;
}
td {
  border-bottom: 1px solid #ddd;
  padding: .2em 1em;
}
tr:last-child td {
  border-bottom-color: transparent;
}
tr:nth-child(odd) td {
  background-color: #ffffff;
}
input[type=text],
input[type=password],
input[type=image],
textarea {
  font: 99% 'Open Sans', arial, freesans, sans-serif;
}
select,
option {
  padding: 0 .25em;
}
optgroup {
  margin-top: .5em;
}
pre,
code {
  font-family: 'Source Code Pro', Consolas, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  font-size: 0.9em;
}
pre a,
code a {
  color: #eee;
  text-decoration: underline;
  text-decoration-line: dashed;
}
code {
  border: none;
  background-color: #333;
  color: #eee;
  font-size: 0.7em;
  border-radius: 0.3em;
  padding: 0 0.5em;
  white-space: pre;
  border: 1px solid #dddddd;
}
td code,
p code {
  white-space: nowrap;
}
pre {
  margin: 1em -2.2em;
  padding: 1em 2em;
  color: #444;
  overflow: auto;
  background-color: #eee;
}
pre code {
  border: none;
  border-radius: 0;
  line-height: 1.3em;
}
img {
  border: 0;
  max-width: 100%;
  vertical-align: baseline;
}
abbr {
  border-bottom: none;
}
a {
  color: #4183c4;
  text-decoration: none;
  /* 
	&[href^="http:"], 
	&[href^="https:"]  
	*/
}
a:hover {
  text-decoration: underline;
}
a code,
a:link code,
a:visited code,
a pre,
a:link pre,
a:visited pre {
  color: #eee;
  text-decoration: underline;
  text-decoration-line: dashed;
}
a.external:after {
  content: '\29c9';
  transform: rotate(-90deg);
  display: inline;
  font-family: sans-serif;
  margin-left: 0.2em;
  font-size: .3em;
  vertical-align: super;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #7799cc;
}
a.external:hover:after {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin: 1.5em 0 .5em;
  text-indent: -2em;
  font-weight: 700;
  padding-bottom: .3em;
  padding-left: 2em;
  font-family: "Caviar Dreams", sans-serif;
}
h1,
h2,
h3 {
  box-shadow: 0 1px #eee;
  font-weight: 400;
}
h1 {
  font-size: 5em;
  background: #79c;
  margin: 1em -0.4em;
  padding: 0.5em 0.4em .5em 2.4em;
  color: #eee;
  border: 1px solid #bbbbbb;
  border-width: 0 1;
  /* text-shadow: 1px 1px 1px #777, -1px -1px 1px #777; */
}
h1:first-child {
  margin-top: -0.4em;
  border-top: none;
  border-radius: 5px 5px 0 0;
}
h1 a {
  color: #eee;
}
h1 a:after:hover {
  text-decoration: none;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
hr {
  border: 1px solid #ddd;
}
ul,
ol {
  margin: 0.3em 0 0.3em 1em;
}
ul li,
ol li {
  margin-left: 1em;
}
ul li p,
ol li p {
  margin: .2em 0;
}
ul li {
  list-style: square;
}
blockquote {
  margin: 1em 0;
  border-left: 5px solid #ddd;
  padding: .5;
  color: #555;
  margin-left: 1em;
  padding-left: 1em;
}
dt {
  font-weight: bold;
  margin-left: 1em;
  margin-bottom: .5em;
}
dd {
  margin-left: 2em;
  margin-bottom: 0.3em;
}
#page {
  background: #fff;
  padding: 2em;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-shadow: 0 0 15px #bbb;
}
#original {
  display: none;
}
.jumbo {
  margin: 1em 0 1.5em;
  color: #6f6f6f;
  border-bottom: 1px solid #bbb;
}
.jumbo p {
  margin: 0 0 .3em;
}
.jumbo .title {
  font-size: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.jumbo .subtitle {
  font-weight: bold;
}
.jumbo .line1 {
  font-size: 2.2em;
  color: #222;
}
.jumbo .line2 {
  font-size: 1.2em;
}
.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	background-color: #008;
}

.hljs,
.hljs-subst {
	color: #0ff
}

.hljs-string,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
	color: #ff0
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-variable {
	color: #fff
}

.hljs-comment,
.hljs-quote,
.hljs-doctag,
.hljs-deletion {
	color: #888
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
	color: #0f0
}

.hljs-meta {
	color: #008080
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-strong {
	font-weight: bold
}

.hljs-emphasis {
	font-style: italic
}
/**!
 * Line Numbers
 * Must be after color scheme!
 */
.hljs-line-numbers {
  text-align: right;
  color: #c90;
  border-right: 1px dotted #c90;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.hljs {
  line-height: 1.3em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.05) 33.33%, rgba(0, 0, 0, 0.15) 33.33%, rgba(0, 0, 0, 0.15) 66.66%, rgba(0, 0, 0, 0.5) 66.66%);
  background-size: 100% 3.9em;
  background-origin: content-box;
  background-color: #333;
  padding: 1em;
}
/*# sourceMappingURL=gfmr.css.map */