@clrText:        #222;
@clrMain:        #ddd;
@clrBaseBG:      #F8F8F8;
@clrBorderDark:  #bbb;
@clrShadowDark:  #777;
@clrBorderLite:  #eee;
@clrLink:        #4183c4;
@clrLineNumbers: #c90;
@clrCodeBG:      #333;//#F8F8FF;
@clrCode:        #eee;//#678;
@clrCodePreBG:   #eee;                      
@clrHeaderBg:    #79c;
@clrHeaderFg:    #eee;
@clrHeaderLnk:   @clrCode;
@clrChkmYes:     @clrLink;
@clrChkmNo:      @clrLink;
@pageWidth:      55em;

@import "font_icons.less";

.codeLink {
	color: @clrCode;
	text-decoration: underline;
	text-decoration-line: dashed;
}

* {
	margin: 0;
	padding: 0;
	border: none;
}
body {
	font: 14pt Calibri, helvetica, tahoma, arial, freesans, clean, sans-serif;
	color: black;
	line-height: 1.4em;
	background-color: @clrBaseBG;
	padding: 0.7em;
	max-width: @pageWidth;
	margin:  2em auto;
}
p {
	margin: 1em 0;
	line-height: 1.3em;
	text-align: justify;
}
table {
	font-size: inherit;
	font: 100%;
	margin: 1em 0;
	border-collapse: collapse;
	border-radius: 3px;
}
thead {
	background-color: @clrBorderLite;
	border-bottom: 1px solid @clrBorderDark;
}
tbody {
	background-color: @clrBaseBG;
}
th {
	// border-bottom: 1px solid @clrBorderLite;
	padding: .2em 1em;
}
td {
	border-bottom: 1px solid @clrMain;
	padding: .2em 1em;
}
tr {
	&:last-child {
		td {
			border-bottom-color: transparent;
		}
	}

	&:nth-child(odd) {
		td {
			background-color: lighten(@clrBaseBG, 10%);// @clrBorderLite;
		}
	}
}
input[type=text],input[type=password],input[type=image],textarea {
	font: 99% 'Open Sans', arial, freesans, sans-serif;
}
select,option {
	padding: 0 .25em;
}
optgroup {
	margin-top: .5em;
}
pre,code {
	font-family: 
		'Source Code Pro',
		Consolas,
		Monaco,
		"Courier New",
		"DejaVu Sans Mono",
		"Bitstream Vera Sans Mono",
		monospace;
	font-size: 0.9em;
	// line-height: 1.5em;
	a {
		.codeLink;
	}
}
code {
	/* border: none;
	background-color: @clrCodeBG;
	color: @clrCode;
	font-size: 0.7em;
	border-radius: 0.3em;
	padding: 0 0.5em;
	white-space: pre;
	border: 1px solid #dddddd; */
	background-color: #4183cf;
	color: #eee;
	font-size: 0.7em;
	border-radius: 0.6em;
	padding: 0 .5em;
	white-space: pre;
	/* border: 1px solid #ddd; */
}
td code, p code {
	white-space: nowrap;
}
pre {
	margin: 1em -2.2em;
	padding: 1em 2em;
	// border: 1px solid @clrMain;
	color: #444;
	overflow: auto;
	// -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px inset;
	// -webkit-border-radius: .3em;
	// border-radius: .3em;
	background-color: @clrCodePreBG;

	code {
		// background: transparent;
		border:none;
		border-radius: 0;
		line-height: 1.3em;
	}
}
img {
	border: none;
	max-width: 100%;
	vertical-align: baseline;
}
abbr {
	border-bottom: none;
}
a {
	color: @clrLink;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
	
	& code,
	&:link code,
	&:visited code,
	& pre,
	&:link pre,
	&:visited pre 
	{
		// color: @clrLink;
		.codeLink;
	}
	/* 
	&[href^="http:"], 
	&[href^="https:"]  
	*/
	&.external {
		&:after {
			content: '\29c9';
			transform: rotate(-90deg);
			display: inline;
			font-family: sans-serif;
			margin-left: 0.2em;
			font-size: .3em;
			vertical-align: super;
			text-decoration: none;
			font-family: 'Open Sans', sans-serif;
			color: #7799cc;
		}
		&:hover:after {
			text-decoration: none;
		}
	}

}

h1,h2,h3,h4,h5,h6 {
	border: 0;
	margin: 1.5em 0 .5em;
	// text-indent: -2em;
	font-weight: 700;
	padding-bottom: .3em;
	// padding-left: 2em;
	font-family: "Caviar Dreams", sans-serif;
	line-height: .9em;
}
h1,h2,h3 {
	// border-bottom: 1px solid @clrBorderDark;
	box-shadow: 0 1px @clrBorderLite;
	font-weight: 400;
}
h1 {
	font-size: 3.2em;
	background: @clrHeaderBg;
	margin: 1em -0.7em;
	padding: 0.5em 0.7em;
	color: @clrHeaderFg;
	border: 1px solid darken(@clrHeaderFg, 20%);
	border-width: 0 1;
	line-height: .7em;
	/* text-shadow: 1px 1px 1px #777, -1px -1px 1px #777; */

 	&:first-child {
		margin-top: -0.7em;
		border-top: none;
		border-radius: 5px 5px 0 0;
	}

	a {
		color: @clrHeaderLnk;
		&:after:hover {
			text-decoration: none;
		}
	}
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 1.8em;
}
h4 {
	font-size: 1.4em;
}
hr {
	border: 1px solid @clrMain;
}
ul, ol {
	margin: 0.3em 0 0.3em 1em;

	li {
		margin-left: 1em;
		&[class^="chkm"] {
			list-style-type: none;
			&:before{
				content: ' ';
				display: inline-block;
				width: 1em;
				font-style: normal;
				height: 1em;
				color: @clrChkmYes;
				margin-right: .3em;
				border-radius: 50%;// 0.3em;
				border: 2px solid;
				padding: 0.2em 0.1em 0;
				font-size: .7em;
				line-height: 100%;
				background-color: @clrChkmYes;
				text-align: center;
				font-weight: 700;
	/* font-size: .7em; */;;
			}
		}
		&.chkm-yes {
			&:before {
				content: '\2714';
				color: white;
				border-color: @clrChkmYes;
			}
		}
		&.chkm-no {
			&:before {
				color: white;
			}
		}
	
		/* &[class^="chkm"]:before {
			content: ' ';
			display: inline-block;
			width: 1em;
			border: 2px solid @clrLink;
			font-style: normal;
		} */
		// checked	\2611
		// checked x: \2612
		// empty 		\2610
		// v - \2714
		// x - \2718
		// X - \274c
		// Xinv - \274e
		/* &.chkm-yes:before {
			content: '\9989'; 
		}
		&.chkm-no:before {
			content: '\9744'; 
		} */
	
		p {
			margin: .2em 0;
		}
	}
}

ul {
	li {
		list-style: square;
	}
}
blockquote {
	margin: 1em 0;
	border-left: 5px solid @clrMain;
	padding: .5;
	color: #555;
	margin-left: 1em;
	padding-left: 1em;
}
dt {
	font-weight: bold;
	margin-left: 1em;
	margin-bottom: .5em;
}
dd {
	margin-left: 2em;
	margin-bottom: 0.3em;
}
#page {
	background: #fff;
	padding: 2em;
	border-radius: 5px;
	border: 1px solid @clrBorderDark;
	box-shadow: 0 0 15px @clrBorderDark;
}
#original {
	display: none;
}
.jumbo {
	margin:1em 0 1.5em;
	color: lighten(@clrText, 30%);
	border-bottom: 1px solid @clrBorderDark;

	p {
		margin:0 0 .3em;
	}
	.title {
		font-size: 1.2em;
		font-family: Helvetica, Arial, sans-serif;
		font-weight: bold;
		border-bottom: 1px solid @clrBorderLite;
	}
	.subtitle {
		font-weight: bold;
	}
	.line1 {
		font-size: 2.2em;
		color: @clrText;
	}
	.line2 {
		font-size: 1.2em;
	}
}

.mainmenu {
	position: fixed;
	width: 2rem;
	// height: 4rem;
	top: 5rem;
	left: 1ch;
	padding: 0.25rem;
	background-color: #fff;
	border-radius: 1.5rem;
	z-index: 2;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
	list-style-type: none;

	li {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		padding: .5rem;
		border-radius: 50%;
		margin:0;
		font-size: 1rem;
		color: @clrBorderDark;
		border: 0.7px solid transparent;
		line-height: 1rem;
		cursor: pointer;
		position: relative;
		&:hover{
			background-color: @clrLink;
			color: @clrBaseBG;
			// color: @clrLink;
			border-color: @clrBaseBG;
			transform: scale(1.5);
			transition: all .4s;
			box-shadow: 0 0 .3rem @clrShadowDark;
			&:after {
				opacity: 1; /* Показываем tooltip */
				visibility: visible;
			}
		}
		&:after {
			content: attr(data-tooltip);
			background: rgba(0, 0, 0, 0.8);
			border-radius: .25rem;
			box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
			color: #FFF;
			/* margin-top: -24px; */
			padding: 3px 7px;
			position: absolute;
			left: calc(100% + 1rem);
			top: .5em;
			opacity: 0;
			visibility: hidden;
			transition: all 0.4s ease-in-out;
			font-size: .5em;
		}
	}
}

@clrOvr: #fff;
@clrOvrBg: rgba(0, 0, 0, 0.7);
@clrOvrHv: #fe0;
		

.overlay {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	color: @clrOvr;
	background-color: @clrOvrBg;
	z-index: 3;
	opacity: 1;
	top: 0;
	left: 0;
	display: flex;

	.btn-close {
		position: absolute;
		right: 2rem;
		top: 2rem;
		font-size: 3rem;
		padding: 1rem;
		/* border: 1px solid; */
		/* border-radius: .5rem; */
		/* background-color: maroon; */
		text-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);
		cursor: pointer;

		&:hover {
			color: @clrOvrHv; // red;
		}
	}

	.ovr-cont {
		// width: @pageWidth * .75;
		// max-width: @pageWidth;
		max-width: 100vw;
		margin: 2rem auto;
		align-self: center;
		background-color: @clrOvrBg;
		padding: 1rem;
		border-radius: 1rem;
		// border: 1px solid;
		border: 2px solid rgba(0,0,0,0.7);
		box-shadow: 0 0 2rem @clrOvrBg;
	}
}

.prop-sheet {
	max-height: calc(100vh - 2rem);
	overflow: auto;
	padding: 1rem 2rem;
	h2, h3 {
		margin: 0 0 .5rem;
		box-shadow: none;
	}
	h2 {
		&:before {
			content: '\1a';
			display: inline-block;
			width: 48px;
			height: 48px;
			background-position: center;
			background-repeat: none;
			background-image: url(../img/gfmr.ico);
		}
	}
	.row {
		.selector {
			cursor: pointer;
			display: inline-block;
			position: relative;
			input[type="radio"]{
				display: none;
				&:checked {
					& + .btn {
						// border-color: fade(@clrOvrHv, 30%);
						opacity: 1;
						&:before {
							content: '\2714';
							color: yellow;
							background-color: rgba(255, 255, 255, 0.35);
						}
					}
				}
			}
			.btn {
				border: 3px solid transparent;
				padding: .1rem .3rem;
				margin-bottom: .2em;
				opacity: .7;
				display: block;
				cursor: pointer;
				&:before {
					position: absolute;
					top:1rem;
					right: 1rem;
					border-radius: 50%;
					width: 1rem;
					height: 1rem;
					display: block;
					padding: .5rem;
					content: '\1a';
					line-height: 100%;
					text-align: center;
				}
				&:hover {
					border-color: fade(@clrOvrHv, 70%);
					opacity: 1;
				}
				img {
					width: 200px;
					height: 150px;
				}
				p {
					text-align: center;
					margin: .2em 0;
				}
			}
		}
	}
}

.toc-list {
	.toc-icon {
		opacity: 0.3;
	}

	li {
		list-style-type: none;
		margin: auto;

		b:first-child {
			// content: attr(data-before);
			display: inline-block;
			min-width: 2.5ch;
			// margin-right: .5ch;
			opacity: .5;
			text-align: right; 
		}
		&:before {
			content: '\279c';
			display: inline-block;
			width: 1em;
			height: 1em;
			margin-right: .2em;
			background-color: rgba(255, 255, 255, 0.1);
			color: transparent;
			border-radius: 25%;
			transition: all 0.6s;
			font-size: .5em;
			padding: .3em;
			line-height: 100%;
			vertical-align: 0.3em;
			text-align: center;
			text-indent: -3em;
			transform: rotate(-360deg);
		}
		&:hover:before {
			text-indent: 0em;
			color: fade(@clrOvrBg,50%);
			background-color: fade(@clrOvr, 50%);
			transform: rotate(0deg);
		}
	}
	a {
		color: @clrOvr;
		display: inline-block;
		padding: 0.2rem .5rem;
		border: 1px solid transparent;
		border-radius: 0.3rem;

		code {
			text-decoration: none;
		}
		
		&:hover, &:active {
			text-decoration: none;
			// background-color: @clrLink;
			color: @clrOvrHv;
			border-color: @clrOvrHv;
		}
	}
	.toc-item (@counter) when (@counter > 0) {
		.toc-item((@counter - 1));
		.toc-item-h@{counter} {
			padding-left: 2rem*(@counter - 1);
			// padding-top: @counter * .1em;
			font-size: 2em - .2 * @counter;
			line-height: 1em;
		}
	}
	.toc-item(6);
}


.hidden {
	display: none;
	opacity: 0;
	transition: all .4s;
}

// @import (inline) "far.css";
// @import (inline) "hl-github.css";
// @import (inline) "hl-night-tropicbird.css";
@import (inline) "f12.css";

/**!
 * Line Numbers
 * Must be after color scheme!
 */

.hljs-line-numbers
{
	text-align: right;

	color: @clrLineNumbers;
	border-right: 1px dotted @clrLineNumbers;
	// border-right: 1px dotted;
	// opacity: 0.5;

	-webkit-touch-callout: none;

	// -khtml-user-select: none;
	-webkit-user-select: none;
	//    -moz-user-select: none;
	// 	-ms-user-select: none;
			user-select: none;
}

.hljs {
	line-height: 1.3em;
	background-size: 100% 3.9em;
	background-origin: content-box;
	// background-color: @clrCodeBG;
	padding: 1em;	
}

// background line stripes (zebra code)
.zebra .hljs
{
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.15) 33.33%, 
		rgba(0, 0, 0, 0.05) 33.33%, 
		rgba(0, 0, 0, 0.05) 66.66%, 
		rgba(0, 0, 0, 0.15) 66.66%);
}
